@import "tailwindcss";

:root {
}

@theme inline {
  --soft-neutral: var(--soft-neutral);
  --dark-neutral: var(--dark-neutral);
  --primary-accent: var(--primary-accent);
  --deep-accent: var(--deep-accent);
  --warm-highlight: var(--warm-highlight);
  --golden-note: var(--golden-note);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-accent: #cfa082;
    --deep-accent: #5c3a2e;
    --golden-note: #d9b576;
    --light-neutral: #f2e5dc;
    --dark-neutral: #2e2b2b;
  }
}

.displayFont {
  font-family: "chorine-large", sans-serif;
}

.bodyFont {
  font-family: "acumin-pro-condensed", sans-serif;
}

body {
  color: var(--foreground);
}
